.jumbotron-home-1 {
    background-image: url(../images/PIA20357-1920x1200.jpg);
}

#content {
    table {
        width: 100%;
    }

    #example-table {
        font-size: 14px;
    }
}

#home-section{
    background:url('/src/images/home.jpg') no-repeat;
    background-size:cover;
    background-attachment:fixed;
    min-height:700px;
}