.jumbotron-home-1 {
    background-image: url(../images/PIA20357-1920x1200.jpg);
}

#content {
    table {
        width: 100%;
    }

    #example-table {
        font-size: 14px;
    }
}

#explore-section, #share-section{
    .fa{
        color:#fff;
        background:#333;
        padding:4px;
        border-radius:5px;
        font-size:$icon-size;
    }
}